export SESSION_SIGNING_SALT=
export SECRET_KEY_BASE=
export API_ENDPOINT=https://apiconnect.angelbroking.com
export API_KEY=
export SECRET_KEY=
export LOCAL_IP=
export PUBLIC_IP=
export MAC_ADDRESS=
export FIREBASE_TOKEN=
export FIREBASE_API=
