export API_ENDPOINT=
export API_KEY=
export SECRET_KEY=
export ENCRYPTION_KEY=
export LOCAL_IP=
export PUBLIC_IP=
export MAC_ADDRESS=
export FIREBASE_TOKEN=
export FIREBASE_API=
export BREVO_API_KEY=
export SECRET_KEY_BASE=
export GOOGLE_API_KEY=
