<section class="h-full m-auto max-w-6xl px-4 sm:px-6 lg:px-8 pb-3 lg:w-1/2 mt-5 md:w/2">
  <.overview {assigns} />
  <.holdings {assigns} />
</section>
<.live_component
  :if={@live_action == :quote && @quote}
  id="quote-modal"
  module={QuoteModal}
  on_cancel={JS.patch(~p"/client/#{@client_code}/portfolio")}
  quote={@quote}
  candle_data={@candle_data}
  client_code={@client_code}
/>
<.bottom_nav client_code={@client_code} active_page={:portfolio} />
