<.live_component
  :if={@live_action == :quote && @quote}
  id="quote-modal"
  module={QuoteModal}
  on_cancel={JS.navigate(~p"/client/#{@client_code}/watchlist")}
  quote={@quote}
  candle_data={@candle_data}
  client_code={@client_code}
/>
