<section class="m-auto lg:w-1/2 md:w/2">
  <.header>
    Watchlist <.search_box {assigns} />
  </.header>
  <.watchlist_items {assigns} />
  <.quote_modal {assigns} />
</section>
<.bottom_nav client_code={@client_code} />
