<section class="flex h-full flex-col m-auto max-w-6xl px-4 sm:px-6 lg:px-8 dark:text-gray-200">
  <div
    class="flex-1 -mx-4 sm:-mx-6 lg:-mx-8 overflow-auto"
    id="chat-wrapper"
    phx-hook="ScrollToBottom"
  >
    <div class="flex flex-col mx-4 sm:mx-6 lg:mx-8">
      <ul id="chat-area" phx-update="stream">
        <li
          :for={{dom_id, message} <- @streams.display_messages}
          class="flex items-start gap-2.5 my-8"
          id={dom_id}
        >
          <.reply_message :if={message.role == :assistant} message={message} />
          <.function_message :if={message.role == :function_call} message={message} />
          <.sent_message :if={message.role == :user} message={message} />
        </li>
      </ul>
      <div :if={@delta} class="flex items-start gap-2.5 my-8">
        <.reply_message :if={@delta.role == :assistant} message={@delta} />
        <span :if={@delta.role != :assistant} class="whitespace-pre-wrap">
          {@delta.content}
        </span>
      </div>
      <.async_result :let={_} assign={@async_result}>
        <:loading>
          <div class="animate-pulse flex items-start gap-2.5">
            <.icon name="hero-chat-bubble-oval-left-ellipsis-solid w-8 h-8 rounded-full dark:text-blue-500" />
            <div class="text-sm font-normal py-2.5 text-gray-900 dark:text-gray-300">
              Assistant is busy ...
            </div>
          </div>
        </:loading>
        <:failed :let={_reason}>
          <.link
            phx-click="retry"
            class="animate-pulse bg-transparent text-left !text-red-500 w-28 z-10 pl-0"
          >
            <.icon name="hero-arrow-path pr-2.5" /> Retry
          </.link>
        </:failed>
      </.async_result>
    </div>
  </div>
  <.simple_form class="relative w-full" for={@form} phx-change="validate" phx-submit="save">
    <.input
      input_class="resize-none"
      type="textarea"
      rows={3}
      field={@form[:content]}
      placeholder="Ask"
      autocomplete="off"
      phx-debounce="500"
      disabled={!@async_result.ok?}
      phx-hook="CtrlEnterSubmits"
      autofocus
    />
    <:actions>
      <.button phx-disable-with="⏳..." class="absolute top-20 right-3 !bg-transparent w-10 pt-3">
        <.icon name="hero-paper-airplane-solid w-8 h-8 text-green-500" />
      </.button>
    </:actions>
  </.simple_form>
</section>
<.bottom_nav client_code={@client_code} active_page={:ask} />
