<.icon name="hero-cog-8-tooth dark:text-gray-200" />
<div class="flex flex-col w-full max-w-[90%] leading-none leading-[1.3rem]">
  <div class="break-words overflow-x-auto dark:text-gray-200">
    <.markdown text={@message.content} />
  </div>
</div>
