<.icon name="hero-user-circle dark:text-gray-200" />
<div class="flex flex-col w-full max-w-[90%] leading-none leading-[1.3rem]">
  <div class="flex items-center space-x-2 rtl:space-x-reverse">
    <span class="font-semibold text-gray-900 capitalize dark:text-white">
      You
    </span>
  </div>
  <div class="break-words overflow-x-auto py-2.5 text-gray-900 dark:text-gray-300">
    <.markdown text={@message.content} />
  </div>
</div>
