<div class="flex flex-col w-full ml-[8%] max-w-[90%] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-l-xl rounded-br-xl dark:bg-gray-700 shadow-md">
  <p class="text-sm font-normal break-words overflow-x-auto py-2.5 text-gray-900 dark:text-gray-300">
    <%= @message.content %>
  </p>
</div>
<.icon name="hero-user-circle-solid w-8 h-8 rounded-full dark:text-blue-500" />
