<section class="h-full m-auto max-w-6xl px-4 sm:px-6 lg:px-8 pb-5 grid grid-cols-1 py-5 md:grid-cols-2 gap-4 justify-between">
  <.live_component
    :for={client_code <- @client_codes}
    module={__MODULE__.Portfolio}
    id={client_code}
    client_code={client_code}
  />
</section>
<.bottom_nav active_page={:home} />
