<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · (SmartAPI AngelOne)">
      <%= assigns[:page_title] || "SmartTrade" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="module" src={~p"/assets/app.js"} />
  </head>
  <body class="bg-white dark:bg-gray-950 antialiased px-4 sm:px-6 lg:px-8">
    <%= @inner_content %>
  </body>
</html>
